<div class="flex flex-col items-center px-40 mt-10">
  <h1 *ngIf="isEdit">Update Category</h1>
  <h1 *ngIf="!isEdit">Add new Category</h1>
  <form class="shadow-sm w-96 p-4">
    <div class="flex flex-wrap">
      <div class="w-full gap-4">
          <mat-form-field class="example-full-width w-full">
    <mat-label>Category Name</mat-label>
    <input matInput placeholder="type category name" value="" [(ngModel)]="name" name="name">
  </mat-form-field>
      </div>
      <div class="w-full flex justify-center">
  <!-- <button *ngIf="isEdit" class="btn-position bg-blue-600 text-white hover:bg-blue-700" (click)="update()">Update</button>
  <button *ngIf="!isEdit"  class="btn-position bg-blue-600 text-white hover:bg-blue-700" (click)="add()">Add</button> -->
   <button *ngIf="isEdit"  (click)="update()">Update</button>
  <button *ngIf="!isEdit"   (click)="add()">Add</button>
      </div>
    </div>
  </form>
</div>
