/* Product Detail Component Styles */

.border {
  border: 1px solid;
}

button[mat-icon-button] {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}
